/* Aplicar box-sizing global para asegurar que los padding y bordes no expandan el tamaño de los elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales para el body */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor principal del conversor de monedas */
.converter-container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 350px;
}

/* Título del conversor */
h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

/* Estilos del formulario */
form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo para los inputs y select del formulario */
form input, form select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

form input:focus, form select:focus {
    border-color: rgb(75, 75, 223);
    outline: none;
}

/* Botón de enviar del formulario */
button {
    padding: 12px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:rgb(75, 75, 223);
}

/* Resultado de la conversión */
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
